<div class="card">
  <span><%= @question %></span>
  <span class="subject"><em>You</em></span>
</div>

<div class="container pb-3">
  <span><strong><%= @answer %></strong></span>
  <span class="subject"><em>Your Coach!</em></span>
</div>

<div class="btn btn-primary">
  <a href="/ask" class="link" >Ask a new question</a>
</div>
