<div>
  <span><%= @question %></span>
  <span><em>You</em></span>
</div>

<div>
  <span><strong><%= @answer %></strong></span>
  <span><em>Your Coach!</em></span>
</div>

<div>
  <a href="/ask">Ask a new question</a>
</div>
